@if (!string.IsNullOrEmpty(Entry.ExternalUrl))
{
    <a href="@Entry.ExternalUrl" class="relative flex flex-col gap-4
        after:absolute after:content-['➚'] after:top-2 after:right-0 after:text-lg">
        <Category Header="@Entry.Title">@Entry.Description</Category>
        <div class="text-xs">
            <NoWrapElements Entries="Entry.Tech"/>
        </div>
    </a>
}
else
{
    <div class="grid gap-4">
        <Category Header="@Entry.Title">@Entry.Description</Category>
        <div class="text-xs">
            <NoWrapElements Entries="Entry.Tech"/>
        </div>
    </div>
}

@code {

    [Parameter] public required Data.Project Entry { get; set; }
}